<div class="w-full max-w-3xl mx-auto my-6 bg-transparent border rounded-md dark:border-gray-700 focus-within:ring-gray-300 focus-within:ring-opacity-40">
    <form method="post" action="" id="myform" class="flex flex-col md:flex-row shadow-lg">
        {% csrf_token %}
        {{ form }}
        <input id="prompt" name="prompt" type="text" placeholder="Enter prompt" hx-Trigger="keyup" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit" value="Submit" id="send_ico" class="flex px-2">
            <svg 
                hx-post="{% url 'chat' %}"
                hx-trigger="click"
                hx-target="#content-hero"
                hx-swap="innerHTML"
                id="mysg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </button>  
    </form>
</div>

<script>
    // Get references to the input field and the SVG element
    const input = document.getElementById('prompt');
    const svgElement = document.getElementById('mysg');
    const promptview = document.getElementById('user-prompt');
    const formdiv = document.getElementById('myform');
    const chat = document.getElementById('chat')
    const hero = document.getElementById('hero');
    const chatprompt = document.getElementById("chat-prompt");

    // Add event listener to detect input changes
    input.addEventListener('input', function() {
      // Change the color of the SVG element when input is received
      if (input.value === '') {
        
          svgElement.classList.add('text-gray-300');
          svgElement.classList.remove('text-gray-700');
        } else {
          
          svgElement.classList.remove('text-gray-300');
          svgElement.classList.add('text-gray-700');
        }
    });

    
    const prompt = input.value;

    // Hide or show the element based on the text field value
    

    // Hide an element when Enter key is pressed
    input.addEventListener('keyup', function(event) {
      if (event.keyCode === 13) {
        
        event.preventDefault(); // Prevent the default form submission

        // submitForm();
        // Display form data on the screen
        const userprompt = promptview;
        

        // hero.style.display = 'none';
        // chat.style.display = 'block';
      }
    });

    function submitForm() {
        
        const formData = new FormData(formdiv);

        // Add the CSRF token to the headers
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const headers = new Headers();
        headers.append('X-CSRFToken', csrfToken);
        headers.append('Content-Type', 'application/json');

        fetch(form.action, {
            method: "POST",
            headers: headers,
            body: JSON.stringify(Object.fromEntries(formData))
        })
        .then(data => {
            // Handle the response data here
            console.log(data);

            // Access the generated response
            const generatedRes = data.response;

            // Use the generated response in the index view
            chatprompt.textContent = generatedRes;

            // Reset input fields
            event.target.reset();
            })
        // .then(() => {
        //     // Handle the form submission success
        //     console.log("Form submission successful");

        //     // Reset input fields
        //     document.getElementById("prompt").value = "";
        //     console.log("This code is runnign after .then(data)");
        //     // Reset input fields
        //     // form.reset();
        //     })
            .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
        });
    }

</script>