<div class="w-full max-w-3xl mx-auto my-6 bg-transparent border rounded-md dark:border-gray-700 focus-within:ring-gray-300 focus-within:ring-opacity-40">
    <form method="post" action="{% url 'chat' %}" id="myform" class="flex flex-col md:flex-row shadow-lg">
        {% csrf_token %}
        {{ form }}
        <input id="prompt" name="prompt" type="text" placeholder="Enter prompt" hx-Trigger="keyup" class="flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none dark:text-gray-200 focus:outline-none focus:placeholder-transparent focus:ring-0" />
        <button type="submit" value="Submit" id="send_ico" hx-Get="{% url 'chat' %}" hx-Target=".toggle-element" class="flex px-2">
            <svg id="mysg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </button>  
    </form>
</div>

<script>
    // Get references to the input field and the SVG element
    const input = document.getElementById('prompt');
    const svgElement = document.getElementById('mysg');

    // Add event listener to detect input changes
    input.addEventListener('input', function() {
      // Change the color of the SVG element when input is received
      if (input.value === '') {
        
          svgElement.classList.add('text-gray-300');
          svgElement.classList.remove('text-gray-700');
        } else {
          
          svgElement.classList.remove('text-gray-300');
          svgElement.classList.add('text-gray-700');
        }
    });

    const hero = document.getElementById('hero');

     // Handle the HTMX response to toggle the elements' visibility
    //  document.body.addEventListener('htmx:responseEnd', function (event) {
    //   if (event.detail.target === '.toggle-chat-element') {
    //     var elements = document.querySelectorAll(event.detail.target);
    //     elements.forEach(function(element) {
    //       element.style.display = (element.style.display === 'none') ? 'block' : 'none';
    //     //   hero.classList.add('hidden');
    //     //   element.classList.remove('hidden');
    //     });
    //   }
    // });


    function getCookie(name) {
        const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
        return cookieValue ? cookieValue.pop() : '';
    }


    // Hide an element when Enter key is pressed
    document.getElementById('prompt').addEventListener('keyup', function(event) {
      if (event.keyCode === 13) {
        // var hero = document.getElementById('hero');
        const chat = document.getElementById('chat')
        event.preventDefault(); // Prevent the default form submission

        // Retrieve form data
        const prompt = document.getElementById("prompt").value;
        // const email = document.getElementById("email").value;
        // Create an object with the form data
        const formData = {
            prompt: prompt,
            // email: email
        };
        // Display form data on the screen
        const userprompt = document.getElementById("user-prompt");
        userprompt.textContent = `${prompt}`;

        hero.style.display = 'none';
        chat.style.display = 'block';

        const csrfToken = getCookie('csrftoken'); //

        // Send form data to the backend
        fetch("https://8000-chikangatakudzw-atombot-hwdzvz6lizq.ws-eu101.gitpod.io/post/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the backend
            console.log(data);

            // Reset input fields
            document.getElementById("name").value = "";
            document.getElementById("email").value = "";
        })
        .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
        });
        // document.getElementById("myform").addEventListener("submit", function(event) {
            
        // });
        
      }
    });




    


</script>