<section id="hero" class="">
    <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">Zim Politics</h1>
    <p class="mt-6 px-5 text-gray-500 dark:text-gray-300">
        Zimbabwe, located in Southern Africa, has a rich and complex history that spans several centuries. It was originally inhabited by various Bantu-speaking peoples who migrated to the region around the 5th century. These early societies engaged in agriculture, trade, and mining, and they established intricate political and social structur
        In the 11th century, a Shona state known as Great Zimbabwe emerged as a major center of trade and political power. Great Zimbabwe was renowned for its impressive stone structures, which served as the royal palace and administrative hub of the state. The city was also a hub of long-distance trade, with gold, ivory, and other commodities being exchanged with Arab and Swahili traders from the east coast of Afri
    </p>
</section>
