<section class="text-gray-600 body-font overflow-hidden">
    <div class="mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        
        
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-1/4 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            {% include 'sidebar.html' %}
          </div>
          <div class="md:w-3/4 md:flex-grow">
            {% include 'mainpage/main.html' %}
          </div>
        </div>
        
       
      </div>
    </div>
  </section>