@tailwind base;
@tailwind components;
@tailwind utilities;

aside {
    float: left; /* or "left" to float it to the left side */
}

@media (max-width: 768px) {
    aside {
        float: none; /* Remove the float on smaller screens */
        width: 100%; /* Make it full width on smaller screens */
    }
}


#mydi {
    display: flex;
    flex-direction: column;
    /* float: right; or "left" to float it to the left side */
    justify-content: space-between;
    align-items: center;
    height: auto;
}

#send_ico {
    display: flex;
    align-items: center;
    
}

#content-di {
    height: -webkit-fill-available;
    z-index: inherit;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 1vh;
  }
  
  ::-webkit-scrollbar-track {
    background-color: gray;
  }
  
  /* Add a custom scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #1248D8;
    border-radius: 0.4rem;
  }

 #content-chat {
    min-width: -webkit-fill-available !important;
}